* {
  &::selection {
    background: $main-color;
    color: $background-color;
  }
}

body {
  background: $background-color;
  color: $main-color;
  font-size: $font-size;
  line-height: $line-height;
  overflow: hidden;
  @include screen-size('small') {}
}

a {
  color: $main-color;
  text-decoration: none;
  &:visited {
    color: $main-color;
  }
  &:hover {
    color: $main-color;
  }
  &:active {
    color: $main-color;
  }
}

.map {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 260px);
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $overlay-color;
  z-index: 100;
}

.container {
  margin-top: 10%;
}

.info-box {
  position: fixed;
  z-index: 10;
  width: 260px;
  right: 0;
  height: 50%;
  background: black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  @include hide-scroll;
}

.drivers {
  position: fixed;
  z-index: 10;
  width: 200px;
  left: 0;
  height: 100%;
  background: black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  @include hide-scroll;
}

.riders {
  position: fixed;
  z-index: 10;
  width: 200px;
  left: 200px;
  height: 100%;
  background: black;
  padding: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  @include hide-scroll;
}

.stats {
  top: 0;
}

.log {
  top: 50%;
  border-top: 1px solid grey;
}

.panel {
  margin: 10px;
  background: grey;
  padding: 10px;
  transition: all 0.5s ease;
  border-radius: 2px;
  transition: all 1s ease;
  .origin {
    background: $origin-color;
    color: black;
  }
  .destination {
    background: $destination-color;
    color: black;
  }
  &.complete {
    transition: all 1s ease;
    opacity: 0.4;
    .origin {
      background: white;
    }
    .destination {
      background: white;
    }
  }
}