@font-face {
    font-family: "SanFranciscoDisplay-Light";
    src: url("SanFranciscoDisplay-Light.eot");
    src: url("SanFranciscoDisplay-Light.eot?#iefix") format("embedded-opentype"),
         url("SanFranciscoDisplay-Light.woff2") format("woff2"),
         url("SanFranciscoDisplay-Light.woff") format("woff"),
         url("SanFranciscoDisplay-Light.ttf") format("ttf"),
         url("SanFranciscoDisplay-Light.svg#SanFranciscoDisplay-Light") format("svg");
    font-style: normal;
    font-weight: ultralight;
}