@font-face {
    font-family: "SanFranciscoDisplay-Medium";
    src: url("SanFranciscoDisplay-Medium.eot");
    src: url("SanFranciscoDisplay-Medium.eot?#iefix") format("embedded-opentype"),
         url("SanFranciscoDisplay-Medium.woff2") format("woff2"),
         url("SanFranciscoDisplay-Medium.woff") format("woff"),
         url("SanFranciscoDisplay-Medium.ttf") format("ttf"),
         url("SanFranciscoDisplay-Medium.svg#SanFranciscoDisplay-Medium") format("svg");
    font-style: normal;
    font-weight: regular;
}